.btn {
  inline-size: 16rem;
  block-size: 4rem;
  text-decoration: none;
  @include flexPosition(space-around);
  position: relative;

  &:hover .btn-bg {
    inline-size: 18rem;
  }

  &:hover .btn-text {
    color: color(secondary);
  }

  &:hover .arrow {
    transform: translateX(1rem);
  }

  &:hover .arrow-line-1 {
    width: 2rem;
  }

  &-bg {
    width: 4rem;
    block-size: 4rem;
    background-color: color(primary);
    border-radius: 5rem;
    // relatively to .btn
    position: absolute;
    left: 0;
    transition: width 0.2s;
  }

  &-text {
    font-size: sizes(xs);
    text-transform: uppercase;
    color: color(primary);
    z-index: 10;
  }
  .arrow {
    @include flexPosition;
    transition: transform 0.2s;

    &-line {
      block-size: 0.2rem;
      background-color: color(secondary);
      position: absolute;
      // making the arrow using transform,-origin,translate and rotate
      transform-origin: right;
    }

    &-line-1 {
      inline-size: 0;
      transform: translateX(-0.7rem);
      transition: width 0.2s;
    }

    &-line-2 {
      inline-size: 1rem;
      transform: rotateZ(45deg);
    }
    &-line-3 {
      inline-size: 1rem;
      transform: rotateZ(-45deg);
    }
  }
}
